@media only screen and (max-width: 600px) {
    #blur{
        font-size: 17px;
        filter: blur(2px);
        margin-top: -10%;
    }
    #contentmsg  {
        margin-top: -28%;
     }
     #mobile{
        margin-top: 15px;
     }
    
  }