<div class="container">
    <h1 align="center" style="margin-top: 5px;">Hi 👋, I'm Pradep B</h1>
    <h3 align="center" style="margin-top: -8px;">I love to learn and discover all things JavaScript, Node.js,
        MongoDB, Angular and REST API's</h3>

    <h2>Work Experience</h2>

    - 👨‍💻 Software Developer — Sify Technologies, Chennai. 
    <p style="margin-left: 5%;"> <i>Jan 2020 - Present</i></p>

    - 👨‍💻 Web Developer — Eparampara Technologies, Chennai. 
    <p style="margin-left: 5%;"><i>Dec 2016 - Nov 2019</i></p>

    <h2>Education</h2>
    - 📚 Kathir College of Engineering, Coimbatore — B.E (Electronics and Communication Engineering)
    <p style="margin-left: 5%;"><i>Aug 2012 — Apr 2016</i></p>

    <h2 align="left">Languages and Tools</h2>
    <p align="left">
        <a rel="noopener noreferrer" href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank">
            <img style="margin-left: 10px;"
                src="https://devicons.github.io/devicon/devicon.git/icons/javascript/javascript-original.svg"
                alt="javascript" width="40" height="40" /> </a>
        <a rel="noopener noreferrer" href="https://nodejs.org" target="_blank"> <img style="margin-left: 10px;"
                src="https://devicons.github.io/devicon/devicon.git/icons/nodejs/nodejs-original-wordmark.svg"
                alt="nodejs" width="40" height="40" /> </a>
        <a rel="noopener noreferrer" href="https://expressjs.com" target="_blank">
            <img style="margin-left: 10px;"
                src="https://devicons.github.io/devicon/devicon.git/icons/express/express-original-wordmark.svg"
                alt="express" width="40" height="40" /> </a>

        <a rel="noopener noreferrer" href="https://angular.io" target="_blank">
            <img style="margin-left: 10px;"
                src="https://devicons.github.io/devicon/devicon.git/icons/angularjs/angularjs-original.svg"
                alt="angularjs" width="40" height="40" /> </a>
        <a rel="noopener noreferrer" href="https://www.mongodb.com/" target="_blank"> <img style="margin-left: 10px;"
                src="https://devicons.github.io/devicon/devicon.git/icons/mongodb/mongodb-original-wordmark.svg"
                alt="mongodb" width="40" height="40" /> </a>

        <a rel="noopener noreferrer" href="https://aws.amazon.com" target="_blank">
            <img style="margin-left: 10px;"
                src="https://devicons.github.io/devicon/devicon.git/icons/amazonwebservices/amazonwebservices-original-wordmark.svg"
                alt="aws" width="40" height="40" /> </a>
        <a rel="noopener noreferrer" href="https://git-scm.com/" target="_blank">
            <img style="margin-left: 10px;" src="https://www.vectorlogo.zone/logos/git-scm/git-scm-icon.svg" alt="git"
                width="40" height="40" />
        </a>
        <a rel="noopener noreferrer" href="https://heroku.com" target="_blank">
            <img style="margin-left: 10px;" src="https://www.vectorlogo.zone/logos/heroku/heroku-icon.svg" alt="heroku"
                width="40" height="40" />
        </a>

        <a rel="noopener noreferrer" href="https://postman.com" target="_blank"> <img style="margin-left: 10px;"
                src="https://www.vectorlogo.zone/logos/getpostman/getpostman-icon.svg" alt="postman" width="40"
                height="40" /> </a> </p>

    <h2 align="left">Profiles</h2>
    <p align="left">
        <a rel="noopener noreferrer" href="https://github.com/PradepB" target="_blank">
            <img src="https://www.vectorlogo.zone/logos/git-scm/git-scm-icon.svg" alt="git" width="40" height="40" />
        </a>
        <a rel="noopener noreferrer" href="https://www.npmjs.com/package/get_no_of_workingdays" target="blank"><img
                style="margin-left: 10px;" align="center"
                src="https://upload.wikimedia.org/wikipedia/commons/d/db/Npm-logo.svg" alt="get_no_of_workingdays"
                height="30" width="40" /></a>

        <a rel="noopener noreferrer" href="https://linkedin.com/in/pradepb" target="blank"><img align="center"
                style="margin-left: 10px;" src="https://cdn.jsdelivr.net/npm/simple-icons@3.0.1/icons/linkedin.svg"
                alt="pradepb" height="30" width="40" /></a>
        <a rel="noopener noreferrer" href="https://medium.com/@pradeepb014" target="blank"><img align="center"
                style="margin-left: 10px;" src="https://cdn.jsdelivr.net/npm/simple-icons@3.0.1/icons/medium.svg"
                alt="@pradeepb014" height="30" width="40" /></a>
        <a rel="noopener noreferrer" href="https://www.hackerrank.com/pradep" target="blank"><img align="center"
                style="margin-left: 10px;" src="https://cdn.jsdelivr.net/npm/simple-icons@3.0.1/icons/hackerrank.svg"
                alt="pradep" height="30" width="40" /></a>
        <!-- <a rel="noopener noreferrer" href="https://www.hackerearth.com/@pradeepb014" target="blank"><img align="center"
                src="https://cdn.jsdelivr.net/npm/simple-icons@3.0.1/icons/hackerearth.svg" alt="@pradeepb014"
                height="30" width="40" /></a> -->
    </p>

    <h2>Contact</h2>
    <p align="left">
        <a style="margin-left: 10px;" href="tel:+91-8508483314"> 📞  +91-8508483314</a>
        <a style="margin-left: 15px;" href="mailto:pradeepb014@gmail.com"> 📧 pradeepb014@gmail.com</a>
        <a style="margin-left: 15px;" target="blank" href="https://article-post.herokuapp.com/"> 🌐 Blog</a>
    </p>



</div>